/* web studio */

:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white,);
    }

.link {
text-decoration: none;
}

.header-logo {
    color: var(--iris, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }
.header-logo-color {
    color: var(--navyblue, #2E2F42);
}

.header-menu-link {
    color: var(--navyblue, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }

.header-menu-link:hover {
    color: var(--ocean, #404BBF);
}

.header-menu-link:focus {
    color: var(--ocean, #404BBF);
}

.header-adress-link {
    color: var(--slate, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
font-style: normal;
}

.header-adress-link:hover {
color: var(--ocean, #404BBF);
}

.header-adress-link:focus {
    color:var(--ocean, #404BBF);
}
.order {
    background: var(--navyblue, #2E2F42);
}
.order-titl {
    color: var(--white, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.order-button {
    
        background: var(--iris, #4D5AE5);
            color: var(--white, #FFF);
        
            /* Button Text */
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
}

.order-button:hover {
    background-color: var(--ocean, #404BBF);
}

/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/

.advantages-titl {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.advantages-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.services-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #FFFFFF;
}

.team-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-titl-three {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        
}
.team-text {
    color: var(--slate, #434455);
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}
.footer-logo {
    color:var(--iris, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-logo-color {
color: var(--cloud, #F4F4FD);
}

.footer {
    background: var(--navyblue, #2E2F42);
}

.footer-text {
    color: var(--cloud, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* P O R T F O L I O */


.section button {
        border: 1px solid var(--cornflower, #E7E9FC);
        background-color: var(--cloud, #F4F4FD);
        color: var(--iris, #4D5AE5);
            text-align: center;
        
            /* Button Text */
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
}

.section button:hover {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFFFFF);
}

.section button:focus {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFFFFF);

.section-titl {
    color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-link {
    color: var(--slate, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.section-link:hover {
    color: var(--ocean, #404BBF);
}

.section-link:focus {
    color: var(--ocean, #404BBF);
}