/* web studio */

:root {
    --primary-font: 'Roboto', sans-serif;
    --brand-color: #4D5AE5;
    --white: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white,);
     
}

a {
text-decoration: none;
}

.header-logo {
    color: color: var(--navyblue, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-logo-color {
    color:#4D5AE5;
}

.header-menu-link {
    color: var(--navyblue, #2E2F42);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-adress-link {
    color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.order {
    background: var(--navyblue, #2E2F42);
}
.order-titl {
    color: var(--white, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.order-button {
    border-radius: 4px;
        background: var(--iris, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages-titl {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.advantages-text {
    color: var(--slate, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.services-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-titl-three {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.team-text {
    color: var(--slate, #434455);
        text-align: center;
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer-logo {
    color: var(--cloud, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-logo-color {
color: #4D5AE5;
}

.footer {
    background: var(--navyblue, #2E2F42);
}

.footer-text {
    color: var(--cloud, #F4F4FD);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
/* Portfolio*/
